$dark: #2B2B2B
$accent: #373e43
$grey: derive($accent, 35%)

.text-field
  -fx-font-size: 20px
  //-fx-background-color: transparent, -fx-box-border, -fx-control-inner-background

.text-field-red
  -fx-border-style: solid
  -fx-border-color: red

.button
  -fx-font-size: 20px
  -fx-min-width: 100px
//-fx-background-color: $accent, $accent, $accent

.title-label
  -fx-font-size: 35px
  -fx-padding: 50 0 0 0px
  -fx-border-insets: 50 0 0 0px
  -fx-background-insets: 50 0 0 0px

.center-screen
  -fx-background-color: $dark

.side-bar
  -fx-background-color: $accent


.settings-button
  -fx-pref-width: -1px
  -fx-pref-height: -1px
  -fx-min-width: -1px

  & .glyph-icon
    -fx-fill: white
    -fx-size: 35px


.login-button-wrapper, .logon-button-wrapper, .carousel-button-wrapper, .settings-button-wrapper
  -fx-alignment: center
  -fx-spacing: 15px

// Password progress bar colors
.red-bar
  -fx-accent: red

.orange-bar
  -fx-accent: orange

.yellow-bar
  -fx-accent: yellow

.dark-green-bar
  -fx-accent: #A9D42F

.green-bar
  -fx-accent: green

.text-field-red-text
  -fx-text-fill: red

.carousel-pagination-label
  -fx-font-size: 45px

.main-screen
  -fx-pref-width: 800px
  -fx-pref-height: 850px
  -fx-min-width: 800px
  -fx-min-height: 850px


.slide-dark
  -fx-background-color: $dark

.slide-grey
  -fx-background-color: $grey

.information-wrapper
  -fx-spacing: 15px
  -fx-font-size: 18px
  -fx-padding: 15 30px
  -fx-border-insets: 15 30px
  -fx-background-insets: 15 30px
//-fx-alignment: center_left

.settings-pane
  -fx-font-size: 13px
  -fx-background-color: $dark

.information-label
  -fx-wrap-text: true

.secret-password-field
  -fx-alignment: center
  -fx-border-color: red
  -fx-border-width: 3px

.summary-info-wrapper
  -fx-pref-height: -1px
  -fx-spacing: 100px
  -fx-vgap: 30px

.port-field
  -fx-pref-width: 100px

.ip-field
  -fx-pref-width: 180px


.conversation-screen
  -fx-border-width: 0 5px 0 0
  -fx-border-color: $dark
  -fx-border-style: solid

.chat-title, .conversation-title
  -fx-font-size: 30px

.search-icon, .edit-icon
  -fx-fill: white
  -fx-size: 35px

.conversation-text-area
  -fx-font-size: 18px

.conversation-main
  -fx-padding: 0 15px 0 15px
  -fx-border-insets: 0 15px 0 15px
  -fx-background-insets: 0 15px 0 15px

.conversation-control-wrapper
  -fx-spacing: 15px
  -fx-padding: 15px 0 0 0
  -fx-border-insets: 15px 0 0 0
  -fx-background-insets: 15px 0 0 0

.conversation-top
  -fx-padding: 0 0 15px 0
  -fx-border-insets: 0 0 15px 0
  -fx-background-insets: 0 0 15px 0

  & .button
    -fx-min-width: -1


.conversation-card-name
  -fx-font-size: 22px

.conversation-card-wrapper
  -fx-padding: 10 10 10 20px
  -fx-border-insets: 10 10 10 20px
  -fx-background-insets: 10 10 10 20px

.message-card, .conversation-card
  -fx-background-radius: 50px

.message-card-wrapper
  -fx-padding: 20 6 20 20px
  -fx-border-insets: 20 6 20 20px
  -fx-background-insets: 20 6 20 20px
  -fx-spacing: 15px